@model IEnumerable<WebApplication1.Models.User>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 style="color: #94a728;">Пользователи</h1>
    <a asp-action="Create" class="btn btn-success" style="font-weight: bold; background-color: #94a728; color: white;">Добавить</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th style="color: #94a728;">Фамилия</th>
            <th style="color: #94a728;">Имя</th>
            <th style="color: #94a728;">Отчество</th>
            <th style="color: #94a728;">Email</th>
            <th style="color: #94a728;">Логин</th>
            <th style="color: #94a728;">Пароль</th>
            <th style="color: #94a728;">Роль</th>
            <th style="color: #94a728;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.middleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.role)
            </td>
            <td style="text-align: right;">
                <a asp-action="Edit" asp-route-id="@item.idUser" style="color: #28a745;">Редактировать</a>
                <a asp-action="Delete" asp-route-id="@item.idUser" style="color: #28a745;">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
